@import '_variables.scss';

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@font-face{
    src: url("#{$kumbhSans}");
    font-family: "kumbh Sans";
    font-weight: 400 700;
}

body{
    font-family: "kumbh Sans", sans-serif;
    color: $veryDarkBlue;
    font-size: $fontSize;
    background-color: $darkCyan;
    overflow: hidden;
    background-image: url("#{$bg-pattern-top}"), url("#{$bg-pattern-bottom}");
    background-position: top left, bottom;
    background-repeat: no-repeat, no-repeat;
}


.card{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    border-radius: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

   // border: 1px solid $darkCyan;

    & .card-top{
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url("#{$bg-pattern-card}");
        border-radius: 1rem 1rem 0 0;
        height: 150px;

        & img{
            width: 130px;
            height: 130px;
            position: relative;
            top: 4rem;
            border-radius: 50%;
            border: 10px solid $white;
        }
    }

    & .card-info{
        background-color: $white;
        border-radius: 0 0 1rem 1rem;
        & > h3{
            margin-top: 4rem;
            margin-bottom: 5px;
            text-align: center;
        }
        & p{
            text-align: center;
            font-size: 15px;
            margin-top: 0px;
        }
        & span{
            color: $darkGrayBlue;
        }

        & .social-info{
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-around;
        }
    }


}

@include laptop_and_large_screen{
    .card{
        width: 45%;
    }
}


